<!-- /partials/header.html -->
<header id="main-header" class="py-4 shadow-lg">
  <div class="container mx-auto px-4 flex justify-between items-center">
      <div>
          <h1 id="page-title" class="text-3xl font-bold text-white">[Page Title]</h1>
          <p id="subtitle" class="text-lg">
              <a href="index.html">FIBA Referees Manual - Individual Officiating Techniques</a>
          </p>
      </div>
      <div>
          <button onclick="switchLanguage('en')" class="lang-btn px-4 py-2 rounded mr-2 transition duration-300 
            transform group hover:scale-105">EN</button>
          <button onclick="switchLanguage('pl')" class="lang-btn px-4 py-2 rounded transition duration-300 
            transform group hover:scale-105">PL</button>
      </div>
  </div>
</header>